.App {
  width: 1024px;
  height: 85vh;
  border: 2px solid gray;
  box-shadow: 0 0 10px 5px gray;
  border-radius: 10px;
  margin: 5vh auto 0;
  background-color: rgba(7, 35, 46, 0.95);
}

.App>h3, .App>h4{
  font-family: "Fira Code", "Courier New", sans-serif;
  color: aliceblue;
  text-align: center;
  font-size: 30px;
}

.App hr{
  margin: 20px;
}
